/*Breadcrumbs*/
.breadcrumbs {
    padding: 15px 0;
    background-color: #f3f8fa;
    min-height: 40px;
    margin-top: 5em;
} 

.breadcrumbs h2 {
    font-size: 28px;
    font-weight: 300;
} 
@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }
}

/*Jobs*/

.jobs {
    padding: 20px 0 20px 0;
}

.jobs-container {
    width: 60em;
    display: flex;
    justify-content: space-between;
}
  
.jobs .entry {
    padding: 10px;
    margin-bottom: 10px;
    width: 900px;
}