/*Breadcrumbs*/
.breadcrumbs {
    padding: 15px 0;
    background-color: #f3f8fa;
    min-height: 40px;
    margin-top: 5em;
} 

.breadcrumbs h2 {
    font-size: 28px;
    font-weight: 300;
} 
@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }
}

/*Jobs*/

.jobs {
    padding: 40px 1em 20px 0;
}
  
.jobs .entry {
    padding: 10px;
    margin-bottom: 10px;
}

.jobs .entry .entry-content span {
    line-height: 24px;
}
  
.jobs .entry .entry-content blockquote {
    overflow: hidden;
    background-color: #fafafa;
    padding: 60px;
    position: relative;
    text-align: center;
    margin: 20px 0;
}
  
.jobs .entry .entry-content blockquote span {
    color: #444;
    line-height: 1.6;
    margin-bottom: 0;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
}
  
.jobs .entry .entry-content blockquote::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #1e4356;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog .entry .entry-meta {
    margin-bottom: 15px;
    color: #72afce;
}
